In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from pydotplus import graph_from_dot_data
from mlxtend.plotting import plot_decision_regions
from sklearn.svm import SVC
from matplotlib.colors import ListedColormap
from numpy import nan as NA

In [2]:
card = pd.read_excel('C:\\Users\\abc86\\Desktop\\(DM)Datamaining\\作業二\\default of credit card clients.xls', index_col=0)

In [3]:
card.dropna()

,Amount of the given credit,Gender,Education,Marital status,Age,History of past payment1,Amount of bill statement1,Amount of previous payment 1,default payment next month
ID,,,,,,,,,
1,20000,2,2,1,24,2,3913,0,1
2,120000,2,2,2,26,-1,2682,0,1
3,90000,2,2,2,34,0,29239,1518,0
4,50000,2,2,1,37,0,46990,2000,0
5,50000,1,2,1,57,-1,8617,2000,0
6,50000,1,1,2,37,0,64400,2500,0
7,500000,1,1,2,29,0,367965,55000,0
8,100000,2,2,2,23,0,11876,380,0
9,140000,2,3,1,28,0,11285,3329,0
10,20000,1,3,2,35,-2,0,0,0
11,200000,2,3,2,34,0,11073,2306,0
12,260000,2,1,2,51,-1,12261,21818,0
13,630000,2,2,2,41,-1,12137,1000,0
14,70000,1,2,2,30,1,65802,3200,1
15,250000,1,1,2,29,0,70887,3000,0
16,50000,2,3,3,23,1,50614,0,0
17,20000,1,1,2,24,0,15376,3200,1
18,320000,1,1,1,49,0,253286,10358,0
19,360000,2,1,1,49,1,0,0,0
20,180000,2,1,2,29,1,0,0,0
21,130000,2,3,2,39,0,38358,3000,0
22,120000,2,2,1,39,-1,316,316,1
23,70000,2,2,2,26,2,41087,2007,1
24,450000,2,1,1,40,-2,5512,19428,1
25,90000,1,1,2,23,0,4744,5757,0
26,50000,1,3,2,23,0,47620,1973,0
27,60000,1,1,2,27,1,-109,0,1
28,50000,2,3,2,30,0,22541,1300,0
29,50000,2,3,1,47,-1,650,3415,0
30,50000,1,1,2,26,0,15329,1500,0
...,...,...,...,...,...,...,...,...,...
29971,360000,1,1,1,34,-1,33654,52951,0
29972,80000,1,3,1,36,0,65554,2395,0
29973,190000,1,1,1,37,0,21628,2000,0
29974,230000,1,2,1,35,1,0,0,1
29975,50000,1,2,1,37,1,10904,0,1
29976,220000,1,2,1,41,0,45075,8840,0
29977,40000,1,2,2,47,2,52358,4000,1
29978,420000,1,1,2,34,0,131939,7000,0
29979,310000,1,2,1,39,0,238973,10029,0
29980,180000,1,1,1,32,-2,0,0,0
29981,50000,1,3,2,42,0,43998,10000,0
29982,50000,1,2,1,44,1,38671,2300,0
29983,90000,1,2,1,36,0,7752,1500,1
29984,20000,1,2,1,44,-2,1822,2890,0
29985,30000,1,2,2,38,-1,315,923,0
29986,240000,1,1,2,30,-2,0,0,0
29987,360000,1,1,2,35,-1,2220,0,0
29988,130000,1,1,2,34,0,23292,3000,0
29989,250000,1,1,1,34,0,279640,65000,0
29990,150000,1,1,2,35,-1,3425,9054,0
29991,140000,1,2,1,41,0,138325,6000,0
29992,210000,1,2,1,34,3,2500,0,1
29993,10000,1,3,1,43,0,8802,2000,0
29994,100000,1,1,2,38,0,3042,2000,0
29995,80000,1,2,2,34,2,72557,7000,1
29996,220000,1,3,1,39,0,188948,8500,0
29997,150000,1,3,2,43,-1,1683,1837,0
29998,30000,1,2,2,37,4,3565,0,1
29999,80000,1,3,1,41,1,-1645,85900,1
30000,50000,1,2,1,46,0,47929,2078,1

In [4]:
card.isnull()

,Amount of the given credit,Gender,Education,Marital status,Age,History of past payment1,Amount of bill statement1,Amount of previous payment 1,default payment next month
ID,,,,,,,,,
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
29971,False,False,False,False,False,False,False,False,False
29972,False,False,False,False,False,False,False,False,False
29973,False,False,False,False,False,False,False,False,False
29974,False,False,False,False,False,False,False,False,False
29975,False,False,False,False,False,False,False,False,False
29976,False,False,False,False,False,False,False,False,False
29977,False,False,False,False,False,False,False,False,False
29978,False,False,False,False,False,False,False,False,False
29979,False,False,False,False,False,False,False,False,False
29980,False,False,False,False,False,False,False,False,False
29981,False,False,False,False,False,False,False,False,False
29982,False,False,False,False,False,False,False,False,False
29983,False,False,False,False,False,False,False,False,False
29984,False,False,False,False,False,False,False,False,False
29985,False,False,False,False,False,False,False,False,False
29986,False,False,False,False,False,False,False,False,False
29987,False,False,False,False,False,False,False,False,False
29988,False,False,False,False,False,False,False,False,False
29989,False,False,False,False,False,False,False,False,False
29990,False,False,False,False,False,False,False,False,False
29991,False,False,False,False,False,False,False,False,False
29992,False,False,False,False,False,False,False,False,False
29993,False,False,False,False,False,False,False,False,False
29994,False,False,False,False,False,False,False,False,False
29995,False,False,False,False,False,False,False,False,False
29996,False,False,False,False,False,False,False,False,False
29997,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,False,False
30000,False,False,False,False,False,False,False,False,False

In [5]:
card.dropna()

,Amount of the given credit,Gender,Education,Marital status,Age,History of past payment1,Amount of bill statement1,Amount of previous payment 1,default payment next month
ID,,,,,,,,,
1,20000,2,2,1,24,2,3913,0,1
2,120000,2,2,2,26,-1,2682,0,1
3,90000,2,2,2,34,0,29239,1518,0
4,50000,2,2,1,37,0,46990,2000,0
5,50000,1,2,1,57,-1,8617,2000,0
6,50000,1,1,2,37,0,64400,2500,0
7,500000,1,1,2,29,0,367965,55000,0
8,100000,2,2,2,23,0,11876,380,0
9,140000,2,3,1,28,0,11285,3329,0
10,20000,1,3,2,35,-2,0,0,0
11,200000,2,3,2,34,0,11073,2306,0
12,260000,2,1,2,51,-1,12261,21818,0
13,630000,2,2,2,41,-1,12137,1000,0
14,70000,1,2,2,30,1,65802,3200,1
15,250000,1,1,2,29,0,70887,3000,0
16,50000,2,3,3,23,1,50614,0,0
17,20000,1,1,2,24,0,15376,3200,1
18,320000,1,1,1,49,0,253286,10358,0
19,360000,2,1,1,49,1,0,0,0
20,180000,2,1,2,29,1,0,0,0
21,130000,2,3,2,39,0,38358,3000,0
22,120000,2,2,1,39,-1,316,316,1
23,70000,2,2,2,26,2,41087,2007,1
24,450000,2,1,1,40,-2,5512,19428,1
25,90000,1,1,2,23,0,4744,5757,0
26,50000,1,3,2,23,0,47620,1973,0
27,60000,1,1,2,27,1,-109,0,1
28,50000,2,3,2,30,0,22541,1300,0
29,50000,2,3,1,47,-1,650,3415,0
30,50000,1,1,2,26,0,15329,1500,0
...,...,...,...,...,...,...,...,...,...
29971,360000,1,1,1,34,-1,33654,52951,0
29972,80000,1,3,1,36,0,65554,2395,0
29973,190000,1,1,1,37,0,21628,2000,0
29974,230000,1,2,1,35,1,0,0,1
29975,50000,1,2,1,37,1,10904,0,1
29976,220000,1,2,1,41,0,45075,8840,0
29977,40000,1,2,2,47,2,52358,4000,1
29978,420000,1,1,2,34,0,131939,7000,0
29979,310000,1,2,1,39,0,238973,10029,0
29980,180000,1,1,1,32,-2,0,0,0
29981,50000,1,3,2,42,0,43998,10000,0
29982,50000,1,2,1,44,1,38671,2300,0
29983,90000,1,2,1,36,0,7752,1500,1
29984,20000,1,2,1,44,-2,1822,2890,0
29985,30000,1,2,2,38,-1,315,923,0
29986,240000,1,1,2,30,-2,0,0,0
29987,360000,1,1,2,35,-1,2220,0,0
29988,130000,1,1,2,34,0,23292,3000,0
29989,250000,1,1,1,34,0,279640,65000,0
29990,150000,1,1,2,35,-1,3425,9054,0
29991,140000,1,2,1,41,0,138325,6000,0
29992,210000,1,2,1,34,3,2500,0,1
29993,10000,1,3,1,43,0,8802,2000,0
29994,100000,1,1,2,38,0,3042,2000,0
29995,80000,1,2,2,34,2,72557,7000,1
29996,220000,1,3,1,39,0,188948,8500,0
29997,150000,1,3,2,43,-1,1683,1837,0
29998,30000,1,2,2,37,4,3565,0,1
29999,80000,1,3,1,41,1,-1645,85900,1
30000,50000,1,2,1,46,0,47929,2078,1

In [6]:
card.fillna(0)

,Amount of the given credit,Gender,Education,Marital status,Age,History of past payment1,Amount of bill statement1,Amount of previous payment 1,default payment next month
ID,,,,,,,,,
1,20000,2,2,1,24,2,3913,0,1
2,120000,2,2,2,26,-1,2682,0,1
3,90000,2,2,2,34,0,29239,1518,0
4,50000,2,2,1,37,0,46990,2000,0
5,50000,1,2,1,57,-1,8617,2000,0
6,50000,1,1,2,37,0,64400,2500,0
7,500000,1,1,2,29,0,367965,55000,0
8,100000,2,2,2,23,0,11876,380,0
9,140000,2,3,1,28,0,11285,3329,0
10,20000,1,3,2,35,-2,0,0,0
11,200000,2,3,2,34,0,11073,2306,0
12,260000,2,1,2,51,-1,12261,21818,0
13,630000,2,2,2,41,-1,12137,1000,0
14,70000,1,2,2,30,1,65802,3200,1
15,250000,1,1,2,29,0,70887,3000,0
16,50000,2,3,3,23,1,50614,0,0
17,20000,1,1,2,24,0,15376,3200,1
18,320000,1,1,1,49,0,253286,10358,0
19,360000,2,1,1,49,1,0,0,0
20,180000,2,1,2,29,1,0,0,0
21,130000,2,3,2,39,0,38358,3000,0
22,120000,2,2,1,39,-1,316,316,1
23,70000,2,2,2,26,2,41087,2007,1
24,450000,2,1,1,40,-2,5512,19428,1
25,90000,1,1,2,23,0,4744,5757,0
26,50000,1,3,2,23,0,47620,1973,0
27,60000,1,1,2,27,1,-109,0,1
28,50000,2,3,2,30,0,22541,1300,0
29,50000,2,3,1,47,-1,650,3415,0
30,50000,1,1,2,26,0,15329,1500,0
...,...,...,...,...,...,...,...,...,...
29971,360000,1,1,1,34,-1,33654,52951,0
29972,80000,1,3,1,36,0,65554,2395,0
29973,190000,1,1,1,37,0,21628,2000,0
29974,230000,1,2,1,35,1,0,0,1
29975,50000,1,2,1,37,1,10904,0,1
29976,220000,1,2,1,41,0,45075,8840,0
29977,40000,1,2,2,47,2,52358,4000,1
29978,420000,1,1,2,34,0,131939,7000,0
29979,310000,1,2,1,39,0,238973,10029,0
29980,180000,1,1,1,32,-2,0,0,0
29981,50000,1,3,2,42,0,43998,10000,0
29982,50000,1,2,1,44,1,38671,2300,0
29983,90000,1,2,1,36,0,7752,1500,1
29984,20000,1,2,1,44,-2,1822,2890,0
29985,30000,1,2,2,38,-1,315,923,0
29986,240000,1,1,2,30,-2,0,0,0
29987,360000,1,1,2,35,-1,2220,0,0
29988,130000,1,1,2,34,0,23292,3000,0
29989,250000,1,1,1,34,0,279640,65000,0
29990,150000,1,1,2,35,-1,3425,9054,0
29991,140000,1,2,1,41,0,138325,6000,0
29992,210000,1,2,1,34,3,2500,0,1
29993,10000,1,3,1,43,0,8802,2000,0
29994,100000,1,1,2,38,0,3042,2000,0
29995,80000,1,2,2,34,2,72557,7000,1
29996,220000,1,3,1,39,0,188948,8500,0
29997,150000,1,3,2,43,-1,1683,1837,0
29998,30000,1,2,2,37,4,3565,0,1
29999,80000,1,3,1,41,1,-1645,85900,1
30000,50000,1,2,1,46,0,47929,2078,1

In [7]:
card

,Amount of the given credit,Gender,Education,Marital status,Age,History of past payment1,Amount of bill statement1,Amount of previous payment 1,default payment next month
ID,,,,,,,,,
1,20000,2,2,1,24,2,3913,0,1
2,120000,2,2,2,26,-1,2682,0,1
3,90000,2,2,2,34,0,29239,1518,0
4,50000,2,2,1,37,0,46990,2000,0
5,50000,1,2,1,57,-1,8617,2000,0
6,50000,1,1,2,37,0,64400,2500,0
7,500000,1,1,2,29,0,367965,55000,0
8,100000,2,2,2,23,0,11876,380,0
9,140000,2,3,1,28,0,11285,3329,0
10,20000,1,3,2,35,-2,0,0,0
11,200000,2,3,2,34,0,11073,2306,0
12,260000,2,1,2,51,-1,12261,21818,0
13,630000,2,2,2,41,-1,12137,1000,0
14,70000,1,2,2,30,1,65802,3200,1
15,250000,1,1,2,29,0,70887,3000,0
16,50000,2,3,3,23,1,50614,0,0
17,20000,1,1,2,24,0,15376,3200,1
18,320000,1,1,1,49,0,253286,10358,0
19,360000,2,1,1,49,1,0,0,0
20,180000,2,1,2,29,1,0,0,0
21,130000,2,3,2,39,0,38358,3000,0
22,120000,2,2,1,39,-1,316,316,1
23,70000,2,2,2,26,2,41087,2007,1
24,450000,2,1,1,40,-2,5512,19428,1
25,90000,1,1,2,23,0,4744,5757,0
26,50000,1,3,2,23,0,47620,1973,0
27,60000,1,1,2,27,1,-109,0,1
28,50000,2,3,2,30,0,22541,1300,0
29,50000,2,3,1,47,-1,650,3415,0
30,50000,1,1,2,26,0,15329,1500,0
...,...,...,...,...,...,...,...,...,...
29971,360000,1,1,1,34,-1,33654,52951,0
29972,80000,1,3,1,36,0,65554,2395,0
29973,190000,1,1,1,37,0,21628,2000,0
29974,230000,1,2,1,35,1,0,0,1
29975,50000,1,2,1,37,1,10904,0,1
29976,220000,1,2,1,41,0,45075,8840,0
29977,40000,1,2,2,47,2,52358,4000,1
29978,420000,1,1,2,34,0,131939,7000,0
29979,310000,1,2,1,39,0,238973,10029,0
29980,180000,1,1,1,32,-2,0,0,0
29981,50000,1,3,2,42,0,43998,10000,0
29982,50000,1,2,1,44,1,38671,2300,0
29983,90000,1,2,1,36,0,7752,1500,1
29984,20000,1,2,1,44,-2,1822,2890,0
29985,30000,1,2,2,38,-1,315,923,0
29986,240000,1,1,2,30,-2,0,0,0
29987,360000,1,1,2,35,-1,2220,0,0
29988,130000,1,1,2,34,0,23292,3000,0
29989,250000,1,1,1,34,0,279640,65000,0
29990,150000,1,1,2,35,-1,3425,9054,0
29991,140000,1,2,1,41,0,138325,6000,0
29992,210000,1,2,1,34,3,2500,0,1
29993,10000,1,3,1,43,0,8802,2000,0
29994,100000,1,1,2,38,0,3042,2000,0
29995,80000,1,2,2,34,2,72557,7000,1
29996,220000,1,3,1,39,0,188948,8500,0
29997,150000,1,3,2,43,-1,1683,1837,0
29998,30000,1,2,2,37,4,3565,0,1
29999,80000,1,3,1,41,1,-1645,85900,1
30000,50000,1,2,1,46,0,47929,2078,1

In [9]:
card

,Amount of the given credit,Gender,Education,Marital status,Age,History of past payment1,Amount of bill statement1,Amount of previous payment 1,default payment next month
ID,,,,,,,,,
1,20000,2,2,1,24,2,3913,0,1
2,120000,2,2,2,26,-1,2682,0,1
3,90000,2,2,2,34,0,29239,1518,0
4,50000,2,2,1,37,0,46990,2000,0
5,50000,1,2,1,57,-1,8617,2000,0
6,50000,1,1,2,37,0,64400,2500,0
7,500000,1,1,2,29,0,367965,55000,0
8,100000,2,2,2,23,0,11876,380,0
9,140000,2,3,1,28,0,11285,3329,0
10,20000,1,3,2,35,-2,0,0,0
11,200000,2,3,2,34,0,11073,2306,0
12,260000,2,1,2,51,-1,12261,21818,0
13,630000,2,2,2,41,-1,12137,1000,0
14,70000,1,2,2,30,1,65802,3200,1
15,250000,1,1,2,29,0,70887,3000,0
16,50000,2,3,3,23,1,50614,0,0
17,20000,1,1,2,24,0,15376,3200,1
18,320000,1,1,1,49,0,253286,10358,0
19,360000,2,1,1,49,1,0,0,0
20,180000,2,1,2,29,1,0,0,0
21,130000,2,3,2,39,0,38358,3000,0
22,120000,2,2,1,39,-1,316,316,1
23,70000,2,2,2,26,2,41087,2007,1
24,450000,2,1,1,40,-2,5512,19428,1
25,90000,1,1,2,23,0,4744,5757,0
26,50000,1,3,2,23,0,47620,1973,0
27,60000,1,1,2,27,1,-109,0,1
28,50000,2,3,2,30,0,22541,1300,0
29,50000,2,3,1,47,-1,650,3415,0
30,50000,1,1,2,26,0,15329,1500,0
...,...,...,...,...,...,...,...,...,...
29971,360000,1,1,1,34,-1,33654,52951,0
29972,80000,1,3,1,36,0,65554,2395,0
29973,190000,1,1,1,37,0,21628,2000,0
29974,230000,1,2,1,35,1,0,0,1
29975,50000,1,2,1,37,1,10904,0,1
29976,220000,1,2,1,41,0,45075,8840,0
29977,40000,1,2,2,47,2,52358,4000,1
29978,420000,1,1,2,34,0,131939,7000,0
29979,310000,1,2,1,39,0,238973,10029,0
29980,180000,1,1,1,32,-2,0,0,0
29981,50000,1,3,2,42,0,43998,10000,0
29982,50000,1,2,1,44,1,38671,2300,0
29983,90000,1,2,1,36,0,7752,1500,1
29984,20000,1,2,1,44,-2,1822,2890,0
29985,30000,1,2,2,38,-1,315,923,0
29986,240000,1,1,2,30,-2,0,0,0
29987,360000,1,1,2,35,-1,2220,0,0
29988,130000,1,1,2,34,0,23292,3000,0
29989,250000,1,1,1,34,0,279640,65000,0
29990,150000,1,1,2,35,-1,3425,9054,0
29991,140000,1,2,1,41,0,138325,6000,0
29992,210000,1,2,1,34,3,2500,0,1
29993,10000,1,3,1,43,0,8802,2000,0
29994,100000,1,1,2,38,0,3042,2000,0
29995,80000,1,2,2,34,2,72557,7000,1
29996,220000,1,3,1,39,0,188948,8500,0
29997,150000,1,3,2,43,-1,1683,1837,0
29998,30000,1,2,2,37,4,3565,0,1
29999,80000,1,3,1,41,1,-1645,85900,1
30000,50000,1,2,1,46,0,47929,2078,1